{% extends '::baseDisplay.html.twig' %}
{% block body %}
</header>
<!--=========== End HEADER SECTION ================-->
<!--=========== BEGIN ABOUT SECTION ================-->
<section id="#">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 left-box">
                <div class="about_area">
                    <!-- START ABOUT HEADING -->
                    <div class="heading">
                        <h2 class="wow fadeInLeftBig">{{ blog.title }}</h2>
                        <div class="post_commentbox">
                            <span><i class="fa fa-calendar"></i>{{ blog.date|date('d-m-Y') }}</span>
                            <a href="#"><i class="fa fa-tags"></i>{{ blog.category }}</a>
                        </div>
                        <p>
                        <img src="{{ asset('uploads/featured/') }}{{ blog.path }}" alt="img" align="left" class="blog-img">
                        {{ blog.content }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"><br><br><br><br>
                <h3>Podijelite objavu</h3>
                <p>{{ facebookButton() }}</p>
                <h3>Ostale objave</h3>
                <ul class="otherblogs">
                {% for otherblog in otherblogs %}
                <a href="{{ path('display', {id: otherblog.id}) }}">
                <li>
                    <h4><b>{{ otherblog.title }}</b></h4>
                    <p>{{ otherblog.abstract }}</p>
                </li>
                </a>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<!--=========== END ABOUT SECTION ================-->
<!--=========== BEGAIN CONTACT FEATURE SECTION ================-->
<section id="contactFeature">
    <!-- SKILLS COUNTER OVERLAY -->
    <div class="slider_overlay"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="container">
                <div class="contact_feature">
                    <!-- BEGAIN CALL US FEATURE -->
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single_contact_feaured wow fadeInUp">
                            <i class="fa fa-phone"></i>
                            <h4>Nazovite nas</h4>
                            <p>042/240366 | 098/267140</p>
                        </div>
                    </div>
                    <!-- BEGAIN CALL US FEATURE -->
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single_contact_feaured wow fadeInUp">
                            <i class="fa fa-envelope-o"></i>
                            <h4>Naš mail</h4>
                            <p>info@dental-consulting.hr</p>
                        </div>
                    </div>
                    <!-- BEGAIN CALL US FEATURE -->
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single_contact_feaured wow fadeInUp">
                            <i class="fa fa-map-marker"></i>
                            <h4>Gdje smo?</h4>
                            <p>Ivana Mažuranića 70, Varaždin</p>
                        </div>
                    </div>
                    <!-- BEGAIN CALL US FEATURE -->
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single_contact_feaured wow fadeInUp">
                            <i class="fa fa-clock-o"></i>
                            <h4>Radno vrijeme</h4>
                            <p>Ponedjeljak-Petak 9.00-21.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}