{% extends '::base.html.twig' %}
{% block body %}
<!-- BEGIN SLIDER AREA-->
<div class="slider_area">
    <!-- BEGIN SLIDER-->
    <div id="slides">
        <ul class="slides-container">

            <!-- THE FIRST SLIDE-->
            <li>
                <!-- FIRST SLIDE OVERLAY -->
                <div class="slider_overlay"></div>
                <!-- FIRST SLIDE MAIN IMAGE -->
                <img src="img/full-slider/full-slide2.jpg" alt="img">
                <!-- FIRST SLIDE CAPTION-->
                <div class="slider_caption">
                    <h2>Tečajevi i seminari za dentalne tehničare</h2>
                    <p>uz iskusne i profesionalne predavače</p>
                    <a href="#team" class="slider_btn">Pogledaj</a>
                </div>
            </li>

            <!-- THE SECOND SLIDE-->
            <li>
                <!-- SECOND SLIDE OVERLAY -->
                <div class="slider_overlay"></div>
                <!-- SECOND SLIDE MAIN IMAGE -->
                <img src="img/full-slider/full-slide1.jpg" alt="img">
                <!-- SECOND SLIDE CAPTION-->
                <div class="slider_caption">
                    <h2>Savjetovalište za pacijente</h2>
                    <p>javite se još danas</p>
                    <a href="#contact" class="slider_btn">Kontaktiraj nas</a>
                </div>
            </li>

            <!-- THE THIRD SLIDE-->
            <li>
                <!-- THIRD SLIDE OVERLAY -->
                <div class="slider_overlay"></div>
                <!-- THIRD SLIDE MAIN IMAGE -->
                <img src="img/full-slider/full-slide3.jpg" alt="img">
                <!-- THIRD SLIDE CAPTION-->
                <div class="slider_caption">
                    <h2>Kvalitetna web i grafička riješenja</h2>
                    <p>praćena najnovijim tehnologijama </p>
                    <a href="#service" class="slider_btn">Više</a>
                </div>
            </li>
        </ul>
        <!-- BEGAIN SLIDER NAVIGATION -->
        <nav class="slides-navigation">
            <!-- PREV IN THE SLIDE -->
            <a class="prev" href="/item1">
                <span class="icon-wrap"></span>
                <h3><strong>Natrag</strong></h3>
            </a>
            <!-- NEXT IN THE SLIDE -->
            <a class="next" href="/item3">
                <span class="icon-wrap"></span>
                <h3><strong>Naprijed</strong></h3>
            </a>
        </nav>
    </div>
    <!-- END SLIDER-->
</div>
<!-- END SLIDER AREA -->
</header>
<!--=========== End HEADER SECTION ================-->


<!--=========== BEGIN ABOUT SECTION ================-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="about_area">
                    <!-- START ABOUT HEADING -->
                    <div class="heading">
                        <h2 class="wow fadeInLeftBig">O nama</h2>
                        <br>
                        <div class="col-lg-6 wow fadeInUp"><h4>Misija</h4>
                        <p>Dental consulting jedna je djelatnost koja obuhvaća multidisiplinarni pristup polju dentala.
Naši su suradnici doktori dentalne medicine, dentalni tehničari, proizvođači opreme i materijala, trgovci ali i ljudi koji se žele informirati o novitetima u dentalnoj industriji.
Naglasak djelatnosti je edukacija o novim tehnološkim postupcima i novim materijalima koji ulaze u dentalnu upotrebu.
Drugi važan segment B2B poslovanje, t.j. povezivanje businessa u raznim područjima dentala.</p>
                        </div>
                        <div class="col-lg-6 wow fadeInUp"><h4>Vizija</h4>
                        <p>Digitalizacija dentalnih usluga sve je prisutnija. Skeneri, intra i extraoralni, glodalice, 3D printeri, ali i novorazvijeni materijali ulaze na široka vrata u svakodnevnu upotrebu . Budućnost je digitalna a upoznati pacijente sa svim mogućnostima s obzirom na ograničenja u marketinškim aktivnostima otvaraju prostor za djelovanje dental consultinga.
Okupljanje tima stručnjaka u raznim disciplinama osigurava pravovremenu i točnu informciju svakome tko takvu informaciju treba.</p>
                        </div>
                    </div>

                    <!-- START ABOUT CONTENT -->
                    <div class="about_content">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-lg-offset-3">
                                <div class="about_slider">
                                    <!-- BEGAIN FEATURED SLIDER -->
                                    <div class="featured_slider">
                                        <!-- SINGLE SLIDE IN THE SLIDER -->
                                        <div class="single_iteam">
                                            <a href="#"> <img src="img/feature_img2.jpg" alt="img"></a>
                                        </div>
                                        <!-- SINGLE SLIDE IN THE SLIDER -->
                                        <div class="single_iteam">
                                            <a href="#"> <img src="img/feature_img3.jpg" alt="img"></a>
                                        </div>
                                    </div>
                                    <!-- END FEATURED SLIDER -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========== END ABOUT SECTION ================-->
<!--=========== BEGAIN CLIENTS SECTION ================-->
<section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!-- START BLOG HEADING -->
                <div class="heading">
                    <h2 class="wow fadeInLeftBig">Suradnici i partneri</h2>
                    <p>Ponosni smo na naše suradnike i partnere sa kojima nastojimo razvijati područje dentalne medicine.</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="clients_content">
                    <div class="row">
                        <!-- BEGAIN CLIENTS SLIDER -->
                        <div class="clients_slider">
                            <!-- BEGAIN SINGLE CLIENT SLIDE#1 -->
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="single_client">
                                <a href="http://sklad-savjetovanje.hr/" target="_blank">
                                    <img src="{{ asset('img/partneri/partner1.png') }}" alt="Sklad">
                                </a>
                                </div>
                            </div>
                            <!-- BEGAIN SINGLE CLIENT SLIDE#2 -->
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="single_client">
                                <a href="http://www.degudent.com" target="_blank">
                                    <img src="{{ asset('img/partneri/partner2.png') }}" alt="Degu Dent">
                                </a>
                                </div>
                            </div>
                            <!-- BEGAIN SINGLE CLIENT SLIDE#8 -->
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="single_client">
                                <a href="http://www.dubal.hr/" target="_blank">
                                    <img src="{{ asset('img/partneri/partner3.png') }}" alt="Dubal">
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========== END CLIENTS SECTION ================-->
<!--=========== BEGIN SERVICE SECTION ================-->
<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- BEGAIN SERVICE HEADING -->
                <div class="heading">
                    <h2 class="wow fadeInLeftBig">Djelatnosti</h2>
                    <p>Dental Consulting nudi kvalitetan komplet djelatnosti svojim klijentima. <br> Od edukacije putem stručnih tečajeva i seminara sa iskusnim predavačima, savjetovanja pacijenata i struke, do izrade web stranica i grafičkih riješenja.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- BEGAIN SERVICE  -->
                <div class="service_area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <!-- BEGAIN SINGLE SERVICE -->
                            <div class="single_service wow fadeInLeft">
                                <div class="service_iconarea">
                                    <span class="fa fa-line-chart service_icon"></span>
                                </div>
                                <h3 class="service_title">Stručni tečajevi i seminari</h3>
                                <p>Organiziramo stručne tečajeve i seminare za dentalne tehničare.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <!-- BEGAIN SINGLE SERVICE -->
                            <div class="single_service wow fadeInRight">
                                <div class="service_iconarea">
                                    <span class="fa fa-eraser service_icon"></span>
                                </div>
                                <h3 class="service_title">Web i grafički dizajn</h3>
                                 <p>Izrada i dizajn web stranica, od jednostavnih sa osnovnim informacijama i privlačnim dizajnom do zahtjevnijih projekata sa pozadinskim sustavom prema dogovoru. <br><br>Pružamo i mogućnost grafičkog dizajna, izradu loga (kombinacija znaka i teksta), logotipa (baziran na tipografiji), dizajniranje brošura, letaka i ostalih promo materijala. Sve uz pristupačne cijene i vrhunsku kvalitetu. </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <!-- BEGAIN SINGLE SERVICE -->
                            <div class="single_service wow fadeInLeft">
                                <div class="service_iconarea">
                                    <span class="fa fa-paper-plane service_icon"></span>
                                </div>
                                <h3 class="service_title">Savjetovalište za pacijente</h3>
                                <p>Kompetentno savjetovanje kako i na koji način protetski zbrinuti svakog pacijenta</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <!-- BEGAIN SINGLE SERVICE -->
                            <div class="single_service wow fadeInRight">
                                <div class="service_iconarea">
                                    <span class="fa fa-suitcase service_icon"></span>
                                </div>
                                <h3 class="service_title">Poslovno savjetovanje</h3>
                                <p align="justify">Kako pokrenuti vlastiti privatni posao? Koje sve zakonske okvire treba poštovati? Koju tehnologiju odabrati? Ima li smisla certificirati tvrtku? Kako izraditi razvojni projekt?<br><br>
Ova i čitav niz drugih pitanja svakodnevno dolaze u našu tvrtku. Popnekad su odgovori jednostavni i jednoznačni, ponekad zahtijevaju veći angažman, ali trudimo se da ni jedno pitanje ne ostane bez odgovora. <br><br>
Uz konkretne proizvode kao što je računalni program za vođenje dentalnih laboratorija Dubal dental razvijen po našim idejama u suradnji s iskusnim timom programera, nudimo i argumentirano savjetovanje o fiskalnom i pravnom poslovanju tvrtki u dentalu.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========== END SERVICE SECTION ================-->
<!--=========== BEGAIN TEAM SECTION ================-->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- BEGAIN COURSE HEADING -->
                <div class="heading">
                    <h2 class="wow fadeInLeftBig">Ponuda tečajeva</h2>
                </div>
                <div class="team_area">
                    <!-- BEGAIN COURSE SLIDER -->
                    <div class="team_slider">
                    {% for course in course|reverse %}
                        <div class="col-lg-3 col-md-3 col-sm-4">
                            <div class="single_team wow fadeInUp">
                                <a href="{{ path('displaycourse', {id: course.id}) }}">
                                    <div class="team_img">
                                        <img src="uploads/coursefeatured/{{ course.path }}" alt="img">
                                    </div>
                                </a>
                                <h5><a href="{{ path('displaycourse', {id: course.id}) }}">{{ course.title }}</a></h5>
                                <span>Dental Consulting</span>
                                <p>{{ course.abstract }}</p>
                                <div class="team_social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========== END COURSE SECTION ================-->
<!--=========== BEGAIN BLOG SECTION ================-->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- START BLOG HEADING -->
                <div class="heading">
                    <h2 class="wow fadeInLeftBig">Blog</h2>
                    <p>Ukoliko vam imamo nešto za reći to ćemo učiniti upravo ovdje.<br> Pratite naš blog za razne dodatne informacije o tečajevima, savjetovanjima i ostalim djelatnostima.</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <!-- BEGAIN BLOG CONTENT -->
                <div class="blog_content">

                    <!-- BEGAIN BLOG SLIDER -->
                    <div class="blog_slider">
                    {% for blog in blog|reverse %}
                        <!-- BEGAIN SINGLE BLOG -->
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="single_post wow fadeInUp">
                                <div class="blog_img">
                                    <a href="{{ path('display', {id: blog.id}) }}">
                                    <img src="uploads/featured/{{ blog.path }}" alt="img">
                                    </a>
                                </div>
                                <h3><a href="{{ path('display', {id: blog.id}) }}">{{ blog.title }}</a></h3>
                                <div class="post_commentbox">
                                    <span><i class="fa fa-calendar"></i>{{ blog.date|date('d-m-Y') }}</span>
                                    <i class="fa fa-tags"></i>{{ blog.category }}
                                </div>
                                <p>{{ blog.abstract }}</p>
                                <a href="{{ path('display', {id: blog.id}) }}" class="read_more">Pročitaj više <i class="fa fa-angle-double-right">  </i></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========== END BLOG SECTION ================-->
<!--=========== BEGAIN CONTACT SECTION ================-->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!-- START CONTACT HEADING -->
                <div class="heading">
                    <h2 class="wow fadeInLeftBig">Kontakt</h2>
                    <p>Otvoreni smo za bilo kakva pitanja vezana za naše djelatnosti!<br> Također, ukoliko imate komentar, prijedlog ili kritiku na naš rad, svakao nam pišite.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- BEGAIN CONTACT CONTENT -->
            <div class="contact_content">
                <!-- BEGAIN CONTACT FORM -->
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="contact_form">

                        <!-- FOR CONTACT FORM MESSAGE -->
                        <div id="form-messages">
                        {% for label, flashes in app.session.flashbag.all %}
                            {% for flash in flashes %}
                                <div class="alert alert-{{ label }}">
                                    {{ flash }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        </div>
                        {{ form_start(form, {'class' : 'null'}) }}
                            {{ form_row(form.ime) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.predmet) }}
                        {{ form_end(form) }}
                    </div>
                </div>
                <!-- BEGAIN CONTACT MAP -->
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="contact_map">
                        <!-- BEGAIN GOOGLE MAP -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5514.78520477338!2d16.345894!3d46.282174!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4768aa9128c5e227%3A0x42d0d8357c2a2c60!2sUl.+Ivana+Ma%C5%BEurani%C4%87a+70%2C+42000%2C+Vara%C5%BEdin%2C+Croatia!5e0!3m2!1sen!2shr!4v1448643651529" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========== END CONTACT SECTION ================-->

<!--=========== BEGAIN CONTACT FEATURE SECTION ================-->
<section id="contactFeature">
    <!-- SKILLS COUNTER OVERLAY -->
    <div class="slider_overlay"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="container">
                <div class="contact_feature">
                    <!-- BEGAIN CALL US FEATURE -->
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single_contact_feaured wow fadeInUp">
                            <i class="fa fa-phone"></i>
                            <h4>Nazovite nas</h4>
                            <p>042/240366 | 098/267140</p>
                        </div>
                    </div>
                    <!-- BEGAIN CALL US FEATURE -->
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single_contact_feaured wow fadeInUp">
                            <i class="fa fa-envelope-o"></i>
                            <h4>Naš mail</h4>
                            <p>info@dental-consulting.hr</p>
                        </div>
                    </div>
                    <!-- BEGAIN CALL US FEATURE -->
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single_contact_feaured wow fadeInUp">
                            <i class="fa fa-map-marker"></i>
                            <h4>Gdje smo?</h4>
                            <p>Ivana Mažuranića 70, Varaždin</p>
                        </div>
                    </div>
                    <!-- BEGAIN CALL US FEATURE -->
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single_contact_feaured wow fadeInUp">
                            <i class="fa fa-clock-o"></i>
                            <h4>Radno vrijeme</h4>
                            <p>Ponedjeljak-Petak 9.00-21.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========== END CONTACT FEATURE SECTION ================-->
{% endblock %}